.wr-page-panel * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    list-style-type: none;
}



.wr-page-panel {
    --fsz10: 0.52vw;
    --fsz11: 0.57vw;
    --fsz14: 0.73vw;
    --fsz16: 0.83vw;

    --ffSegoe: 'Segoe';
}



.panel__scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #494694 #A5A5A5;
    overflow: auto;
}



.panel_wr-checkmark {
    display: flex;

    align-items: center;
    justify-content: center;
}

.panel__checkmark {
    width: 1.88vw;
    height: 1.88vw;

    background: no-repeat url(../img/icons/admin-icon-no-checked.png);
    background-size: 100%;
    background-position: center;

    cursor: pointer;
}

.panel__checkmark_yes {
    background: no-repeat url(../img/icons/admin-icon-checked.png);
    background-size: 100%;
    background-position: center;
}

.wr-page-panel {
    display: flex;
    height: 100vh;

    justify-content: center;
    align-items: center;
}

.panel__wr-search-logout {
    display: grid;
    margin-top: 2.34vw;

    grid-template-columns: 20% 60% 20%;
    grid-template-rows: min-content;
    align-items: center;
}

.panel__search {
    width: 47.86vw; 
    height: 2.60vw;

    grid-column: 2;
    grid-row: 1;
    justify-self: center;

    > input {
        width: 100%; 
        height: 100%;
        padding-left: 0.5vw;

        font-family: var(--ffSegoe);
        font-size: 0.83vw; 
        font-style: normal;
        font-weight: 400;

        color: #424242;
        border-radius: 0.63vw;
        border: 1px solid #000;
        outline: none;

        background: #F5F5F5;
    }
}

.panel__logout {
    display: flex;
    width: 10.31vw;
    height: 2.34vw;

    font-family: var(--ffSegoe);
    font-size: var(--fsz16);
    font-style: normal;
    font-weight: 600;
    text-decoration: none;

    border-radius: 0.42vw;
    background: #4C4997;
    border: 0;
    color: #fff;

    box-shadow: 0.10vw 0.10vw 0.16vw rgba(0, 0, 0, 0.25);

    align-items: center;
    justify-content: center;

    grid-column: 3;
    grid-row: 1;
    justify-self: end;
}

.panel__header {
    margin-top: 2.34vw;
}

.panel__header-list {
    display: flex;
    gap: 0.52vw;
}

.panel__header-item {
    display: flex;
    min-height: 3.23vw;

    font-family: var(--ffSegoe);
    font-size: 0.73vw;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;

    color: #fff;
    background: no-repeat linear-gradient(180deg, #7775B6 0%, #494694 69.79%);

    justify-content: center;
    align-items: center;
}

.panel__header-item_person,
.panel__header-item_id,
.panel__header-item_lottery {
    width: 9.38vw;
}

.panel__header-item_cheque {
    width: 13.49vw;
}

.panel__header-item_balls {
    width: 6.25vw;
}

.panel__header-item_bonus-p,
.panel__header-item_bonus-l {
    width: 13.30vw;
}

.panel__header-item_awarded {
    width: 10.26vw;
}

.panel__main {
    margin-top: 0.83vw;
}

.panel__users-list {
    display: flex;
    gap: 0.83vw;

    flex-direction: column;
}

.panel__user-item {
    display: flex;
    gap: 0.52vw;
}

.panel__user-item-content {
    max-height: 9.3vw;

    border: 1px solid #D2D2D2;
    background: #EEE;
}

.panel__user-person,
.panel__user-id,
.panel__user-wr-lottery {
    width: 9.38vw;
}

.panel__user-cheques-list {
    width: 13.49vw;
}

.panel__user-wr-balls {
    width: 6.25vw;
}

.panel__user-wr-gifts-points,
.panel__user-wr-gifts-lottery {
    width: 13.30vw;
}

.panel__user-wr-lottery-awarded {
    width: 10.26vw;
}

.panel__user-person {
    position: relative;

    padding-top: 0.94vw;
    padding-left: 0.52vw;
    padding-right: 0.92vw;
    padding-bottom: 0.52vw;
}

.panel__user-fio span {
    font-family: var(--ffSegoe);
    font-size: var(--fsz14);
    font-style: normal;
    font-weight: 700;

    color: #424242;
}

.panel__user-fio_red span {
    color: rgba(217, 8, 8, 0.48);
}

/* span.panel__user-name_red {
    color: rgba(217, 8, 8, 0.48);
} */

.panel__user-info {
    font-family: var(--ffSegoe);
    font-size: var(--fsz11);
    font-style: normal;
    font-weight: 400;

    color: #424242;
}

.panel__user-phone {
    margin-top: 0.2vw;
}

.panel__user-address {
    margin-top: 0.3vw;
}

.panel__user-item-edit {
    position: absolute;
    top: 0.2vw;
    right: 0.2vw;

    width: 1.25vw;
    height: 1.25vw;

    background: no-repeat url("../img/icons/admin-edit.png");
    background-size: 100% 100%;
    background-position: center;
    box-shadow: 0.10vw 0.10vw 0.16vw rgba(0, 0, 0, 0.25);

    cursor: pointer;
}

.panel__user-id {
    display: flex;

    font-family: var(--ffSegoe);
    font-size: var(--fsz14);
    font-style: normal;
    font-weight: 700;

    color: #424242;

    align-items: center;
    justify-content: center;
}

.panel__user-cheques-list {
    display: flex;
    padding: 0.57vw;
    gap: 0.1vw;
  
    flex-direction: column;
}

.panel__user-cheques-item {
    display: flex;

    justify-content: space-between;
}

.panel__user-cheques-content {
    display: grid;
    width: 100%;
    grid-template-columns: min-content 1fr min-content;
    column-gap: 0.52vw;
 
    align-items: center;
}

.panel__circle-verified {
    width: 0.57vw;
    height: 0.57vw;

    border-radius: 50%;
    background-color: #9EA09F;

    flex-shrink: 0;
    cursor: pointer;
}

.panel__circle-verified_green {
    background-color: #08D950;
}

.panel__user-cheques-link {
    font-family: var(--ffSegoe);
    font-size: var(--fsz10);
    font-style: normal;
    font-weight: 400;
    word-break: break-all;
    text-decoration: none;

    color: #424242;
}

.panel__user-cheques-basket {
    width: 0.9vw;
    height: 0.9vw;

    background: no-repeat url(../img/icons/admin-delete-cheque.png);
    background-position: center;
    background-size: 100%;

    flex-shrink: 0;
    cursor: pointer;
}

.panel__user-wr-balls {
    position: relative;

    display: flex;

    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.panel__user-balls {
    font-family: var(--ffSegoe);
    font-size: var(--fsz14);
    font-style: normal;
    font-weight: 700;

    color: #424242;
}

.panel__form-add-one-value {
    position: absolute;
    top: 50%;
    left: 50%;

    display: none;
    width: 70%;
    height: 1.5vw;

    translate: -50% -50%;

    > input {
        width: 100%;
        height: 100%;
        
        text-align: center;
        
        box-shadow: 0.1vw 0.1vw 0.1vw rgba(0, 0, 0, 0.4);
        border: 0px solid black;
    }
}

.panel__form-change-balls_active {
    display: block;
}

.panel__user-wr-lottery {
    display: flex;

    align-items: center;
    justify-content: center;
}

.panel__user-lottery {
    width: 1.88vw;
    height: 1.88vw;

    cursor: pointer;
}

.panel__user-lottery_yes {
    background: no-repeat url(../img/icons/admin-icon-checked.png);
    background-size: 100%;
    background-position: center;
}

.panel__user-lottery_no {
    background: no-repeat url(../img/icons/admin-icon-no-checked.png);
    background-size: 100%;
    background-position: center;
}

.panel__wr-add-gift-points {
    display: flex;
    width: 95%;
    margin: 0.31vw auto 0;

    justify-content: space-between;
}

.panel__form-gift-points {
    width: 86%;

    visibility: hidden;

    > input {
        height: 100%;
        width: 100%;

        text-align: center;
        
        box-shadow: 0.1vw 0.1vw 0.1vw rgba(0, 0, 0, 0.4);
        border: 0px solid black;
    }
}

.panel__form-gift-points_active {
    visibility: visible;
}

.panel__user-item-edit_gift-p {
    position: initial;
}

.panel__user-gifts-points-list {
    width: 84%;
    height: 64%;
    margin: 1.04vw auto 0;
}

.panel__user-gifts-points-item {
    display: flex;
    gap: 1.09vw;

    align-items: center;
}

.panel__user-gifts-points-name {
    font-family: var(--ffSegoe);
    font-size: var(--fsz14);
    font-style: normal;
    font-weight: 700;

    color: #424242;
}






.panel__user-wr-gifts-lottery {
    position: relative;

    display: flex;

    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.panel__user-gifts-lottery {
    font-family: var(--ffSegoe);
    font-size: var(--fsz14);
    font-style: normal;
    font-weight: 700;

    color: #424242;
}

.panel__form-gifts-lottery_active {
    display: block;
}




.modal-edit {
    position: fixed;
    top: 50%;
    left: 50%;

    display: none;

    background: #FFF;
    box-shadow:
     1.72vw 13.70vw 3.85vw rgba(0, 0, 0, 0.00),
      1.09vw 8.75vw 3.54vw rgba(0, 0, 0, 0.01),
       0.63vw 4.95vw 2.97vw rgba(0, 0, 0, 0.05),
        0.26vw 2.19vw 2.19vw rgba(0, 0, 0, 0.09),
         0.05vw 0.57vw 1.20vw rgba(0, 0, 0, 0.10);

    translate: -50% -50%;
}

.modal-edit_active {
    display: block;
}

.modal-panel__wr-close {
    display: flex;
    margin-top: 1.04vw;
    margin-right: 1.04vw;

    justify-content: flex-end;
}

.modal-panel__close {
    height: 1.56vw;
    width: 1.56vw;

    cursor: pointer;
}

.modal-edit__content {
    padding-top: 0.57vw;
    padding-left: 3.13vw;
    padding-right: 3.13vw;
    padding-bottom: 2.14vw;
}

.modal-edit__user-is-blocked {
    visibility: hidden;

    font-family: var(--ffSegoe);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;

    color: #D90808;
}

.modal-edit__user-is-blocked_active {
    visibility: visible;
}

.modal-edit__form {
    margin-top: 0.68vw;
}

.modal-edit__contact-list {
    display: grid;
    column-gap: 2.03vw;
    row-gap: 0.57vw;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, min-content);
}

.modal-edit__name {
    grid-column: 1;
    grid-row: 2;
}

.modal-edit__patronymic {
    grid-column: 1;
    grid-row: 3;
}

.modal-edit__phone {
    grid-column: 2;
    grid-row: 2;
}

.modal-edit__email {
    grid-column: 2;
    grid-row: 3;
}


.modal-edit__address-list {
    display: grid;
    column-gap: 2.03vw;
    row-gap: 0.57vw;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, min-content);
}

.modal-edit__area {
    grid-column: 1;
    grid-row: 2;
}

.modal-edit__district {
    grid-column: 2;
    grid-row: 2;
}

.modal-edit__settlement {
    grid-column: 1;
    grid-row: 3;
}

.modal-edit__street {
    grid-column: 2;
    grid-row: 3;
}

.modal-edit__house {
    grid-column: 1;
    grid-row: 4;
}

.modal-edit__appartment {
    grid-column: 2;
    grid-row: 4;
}

.modal-edit__input {
    height: 1.82vw;
    width: 14.53vw;
    padding-top: 0.42vw;
    padding-right: 0.83vw;
    padding-bottom: 0.36vw;
    padding-left: 0.83vw;

    border: 0;
    border-radius: 0.26vw;
    background: rgba(216, 216, 216, 0.50);
}

.modal-edit__address-list {
    margin-top: 2.03vw;
}

.modal-edit__wr-buttons {
    display: flex;
    margin-top: 3.39vw;

    justify-content: space-between;
}

.modal-panel__button {
    width: 9.32vw;
    height: 2.34vw;

    font-family: var(--ffSegoe);
    font-size: var(--fsz16);

    color: #fff;
    border-radius: 8px;
    background: #4C4997;
    box-shadow: 0.10vw 0.10vw 0.16vw rgba(0, 0, 0, 0.25);
    border: 0;

    cursor: pointer;
}

.modal-confirmation {
    position: fixed;
    top: 50%;
    left: 50%;

    display: none;
    padding-bottom: 1.82vw;

    background: #fff;
    box-shadow:
     1.72vw 13.70vw 3.85vw rgba(0, 0, 0, 0.00),
      1.09vw 8.75vw 3.54vw rgba(0, 0, 0, 0.01),
       0.63vw 4.95vw 2.97vw rgba(0, 0, 0, 0.05),
        0.26vw 2.19vw 2.19vw rgba(0, 0, 0, 0.09),
         0.05vw 0.57vw 1.20vw rgba(0, 0, 0, 0.10);

    translate: -50% -50%;
}

.modal-confirmation_active {
    display: block;
}

.modal-confirmation__content {
    width: 70%;
    margin: 2.40vw auto 0;

    font-family: var(--ffSegoe);
    font-size: 1.25vw;
    font-style: normal;
    font-weight: 400;
    text-align: center;

    color: #463E57;
}

.modal-confirmation__wr-buttons {
    display: flex;
    margin-top: 2.76vw;
    gap: 0.83vw;

    flex-direction: column;
    align-items: center;
}