 
.rules-body {
    position: relative;

    display: flex;
    padding-left: 140px;
    padding-right: 140px;

    border-radius: 30px;       
    background: no-repeat url(../img/rules-card-leafs.webp), linear-gradient(180deg, #7775B6 0%, #494694 69.79%);      
    background-size: 112% auto, 100%;    
    background-position:center;
    
    box-shadow: 0px 0px 20px 8px #FFF;

    flex-direction: column;
    justify-content: center;

    aspect-ratio: 1288/706;
}

.rules-prog__main {
    padding-bottom: 26vw; 
}
 
.rules-prog__container {
    display: flex;      
    margin-top: 65px;
    gap: 5vw;
    
    flex-direction: column;
    align-items: center;
}

.rules-prog__head {
    margin-bottom: 25px;
    color: #FFF;
    font-size: 150px;    
    font-weight: 500;
    line-height: normal;
}

.rules-prog__head h1{  
    font-family: 'Snell Roundhand';
    font-size: 3.65vw;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-transform: none;
    text-align: center;
    
    color: #FFF;
    
    margin: 0;
}

.rules-prog__item-card {
    width: 100%;
}

.rules {
    width: 59%;
    margin: 0 auto;
}

.rules-article * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: initial;
    text-transform: initial;

    color: initial;
    list-style-type: none;
}

.rules-article {
    margin: auto;
    padding-bottom: 5.6vw;
    padding-top: 2.6vw;
}

.rules-prog__title {
    margin-top: 1.82vw;
    margin-bottom: 1.30vw;
    
    font-family: Arsenal;
    font-size: 1.67vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    text-align: center;
    
    color: #FEF85C;
}

.rules-prog__list {
    display: flex;
    gap: 2.08vw;

    flex-direction: column;
    align-items: center;
}
 
.rules-prog__item-wr-title {
    width: fit-content;
    padding: 0 0.55vw 0.45vw;
    margin: 0 auto;

    border-bottom: 2px solid #fff;
}

.rules-prog__item-title {
    width: max-content;

    font-family: Arsenal;
    font-size: 1.25vw;
    font-weight: 700;

    color: #FFF;
}

.rules-prog__item-wr-content {
    margin-top: 1vw;
}

.rules-prog__annotation {
    font-family: Arsenal;
    font-size: 0.83vw;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    
    color: #FFF;
}

.rules-prog__link {
    font-family: Arsenal;
    font-weight: 400;
    text-decoration: underline;
    white-space: nowrap;
    
    color: #fff;
}

.rules-prog__link:hover {
    filter: drop-shadow(0 0 0.1vw rgba(255, 255, 255, 1));
    transition: filter 0.15s linear;
}

.rules-prog__annotation > .rules-prog__link {
    font-size: 0.83vw;
}

.rules-prog__text-content {
    font-family: Arsenal;
    font-size: 1.04vw;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    
    color: #FFF;
}

.rules-prog__text-content > .rules-prog__link {
    font-size: 1.04vw;
}

.rules-prog__content-list {
    display: flex;

    flex-direction: column;
    align-items: center;
}

.rules-prog__content-item::before {
    content: "-";

    display: inline-block;
    margin-right: 0.7vw;

    vertical-align: middle;
}

.rules-prog__content-item span {
    font-size: 1.04vw;
}

.rules-prog__text-content_color {
    color: #FEF85C;
}

.rules-docs {
    display: flex;
    margin-top: 91px;
    gap: 4.11vw;

    justify-content: center;
}

.docs_links__wrap {
    position: relative;

    display: flex;

    flex-direction: column;
    align-items: center;
}

.docs_links__wrap p {
    display: flex;
    margin-bottom: 0.5vw;

    font-family: 'Arsenal';
    font-size: 1.04vw;
    font-style: normal;
    font-weight: 700;
    text-align: center;

    color: #fff;

    flex-direction: column;
}

.docs_links__wrap a {
    position: absolute;
    
    height: 100%;
    width: 100%;
}

.docs__wr-icon {
    width: 5vw;
    height: 6.35vw;
}

.docs__wr-icon img {
    height: 100%;
    width: 100%;

    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));

    object-fit: contain;
    object-position: center;
}

@media (max-width: 991px) {
    .rules-prog__head h1{
        font-size: 9.60vw !important;
        line-height: initial;
    }
}

@media (max-width: 991px) {

    .rules-prog__container {
        padding-top: 25%;
        margin-top: 0px;
        margin-bottom: 0;
    }
    
    .rules-prog__item-card_second {
        margin-top: 15vw;
    }

    .rules {      
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .rules-body {
        position: relative;

        display: flex;
        width: 80.8%;
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
        
        border-radius: 30px;       
        background: no-repeat url('../img/icons/rules-bg-mobile.svg'), no-repeat linear-gradient(180deg, #7775B6 0%, #494694 69.79%);      
        background-size: 116%;    
        background-position-x:center;
        background-position-y:center;
        box-shadow: 0px 0px 20px 8px #FFF;
        
        flex-direction: column;
        justify-content: center;       
        aspect-ratio: 624/307;
    }

    .rules-article {
        padding-top: 14.93vw;
        padding-bottom: 13.60vw;
    }

    .rules-article > .rules-prog__title {
        width: 90%;
    }

    body[data-variant=rules]::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;    
        background:  url(../img/icons/background-mobile-bottom.png),  url(../img/icons/rules-flovers-bg-mobile.png) , linear-gradient(180deg, #00BD8D 32.29%, #00392D 100%);     
        background-position-x: center, left; 
        background-position-y: bottom, 0;
        background-repeat: no-repeat no-repeat;
        background-size: contain, 100% auto;
        z-index: -10;  
      }

      .rules-docs {
        margin-top: 60px;
      }

      .rules-prog__head {
        margin-bottom: 8.53vw;
      }

      .rules-prog__head h1{
        width: 100%;
        margin: 0 auto;

        font-size: 48px;
      }

    .rules-body h2 {
        width: auto;
        margin: 0 auto;

        font-size: 4.27vw;
    }

    .rules-prog__list {
        margin: 9.60vw auto 0;
        width: 81%;
        gap: 6.93vw;
    }

    .rules-prog__item-wr-title {
        padding: 0 1.5vw;
    }

    .rules-prog__item-wr-content {
        margin-top: 4.27vw;
    }

    .rules-prog__annotation {
        font-size: 2.67vw;

        > .rules-prog__link {
            font-size: 2.67vw;
        }
    }

    .rules-prog__text-content {
        font-size: 3.47vw;

        > .rules-prog__link {
            font-size: 3.47vw;
        }

        > span {
            font-size: 3.47vw;
        }
    }

    .rules-prog__content-item {

    }

    .docs_links__wrap {
        justify-content: flex-start;
    }

    .docs_links__wrap p {
        margin-top: 2.7vw;

        font-size: 3.73vw;

        order: 2;
    }

    .docs__wr-icon {
        height: 22.40vw;
        width: 18.13vw;

        order: 1;
    }
}